<section class="discount">
  <div class="container">
    <div class="discount__thumb">
      <h2 class="discount__title">&#3675 ЗНИЖКА</h2>

      <div class="discount__descr">
        <p class="discount__txt--accent">промокод</p>
        <p class="discount__txt--large">
          Знижка &#3675 готівкою при проживанні від 10 ночей
        </p>
        <p class="discount__txt">29 користувачів використали промокод</p>
      </div>
      <button class="discount__button button">Отримати знижку</button>
    </div>

    <div class="discount__more">
      <a href="" class="discount__link link">Дивіться подробиці </a>
      <p>
        <svg class="discount__icon" width="16" height="16">
          <use href="./images/icons.svg#icon-expand_more"></use>
        </svg>
      </p>
    </div>
  </div>
</section>
