<footer class="footer">
  <div class="container">
    <div class="footer__thumb">
      <p class="footer__txt">
        2023 Тестове завдання на вакансію верстальника в компанію
        <a href="" class="footer__link">Aweb</a>
      </p>

      <div class="social-thumb">
        <a href="" class="footer__social link">
          <svg class="footer__social-icon" width="32" height="32">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
        <a href="" class="footer__social link">
          <svg class="footer__social-icon" width="32" height="32">
            <use href="./images/icons.svg#icon-telegram2"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
