<header class="header">
  <div class="container">
    <div class="logo-thumb">
      <a href="" class="link">
        <svg class="header__logo" width="179" height="43.5">
          <use href="./images/icons.svg#icon-logo-suntour"></use>
        </svg>
      </a>
      <p class="header__txt">Мережа турагенств «Сонце в колі»</p>
    </div>

    <div class="phone-thumb">
      <a href="tel:0441234567" class="header__phone link">044 123-45-67</a>
      <p class="header__txt">зворотний дзвінок</p>
    </div>

    <div class="social-thumb">
      <a href="" class="header__social link">
        <svg class="header__social-icon" width="32" height="32">
          <use href="./images/icons.svg#icon-facebook"></use>
        </svg>
      </a>
      <a href="" class="header__social link">
        <svg class="header__social-icon" width="32" height="32">
          <use href="./images/icons.svg#icon-telegram"></use>
        </svg>
      </a>
    </div>
  </div>
</header>
