<section class="hero">
  <div class="container">
    <img
      class="hero__img"
      src="./images/hero-img.webp"
      alt="Aquamarine hotel"
      width="1040"
    />
    <div class="img-descr">
      <p class="img-descr__title">
        Тур<br />
        у Созополь, Болгарія
      </p>
      <p class="img-descr__txt">код туру</p>
      <p class="img-descr__code">3094119</p>
    </div>

    <div class="hotel">
      <div class="hotel__descr">
        <a href="" class="hotel__title link">Aquamarine hotel</a>
        <ul class="hotel__list list">
          <li>
            <a href="" class="link">
              <svg class="hero__icon" width="27" height="26">
                <use href="./images/icons.svg#icon-star"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="" class="link">
              <svg class="hero__icon" width="27" height="26">
                <use href="./images/icons.svg#icon-star"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="" class="link">
              <svg class="hero__icon" width="27" height="26">
                <use href="./images/icons.svg#icon-star"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="" class="link">
              <svg class="hero__icon" width="27" height="26">
                <use href="./images/icons.svg#icon-star-stroke"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="" class="link">
              <svg class="hero__icon" width="27" height="26">
                <use href="./images/icons.svg#icon-star-stroke"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="hotel__price">$256</p>
      </div>

      <div class="hotel__rating">
        <p class="rating__title">
          Оцінка готелю <span class="rating__title--bold">45 відгуків</span>
        </p>
        <p class="rating__total">8,4</p>
        <ul class="rating__list list">
          <li class="rating__item">
            <p class="rating__item--top">номер</p>
            <p class="rating__item--bottom">8,9</p>
          </li>
          <li class="rating__item">
            <p class="rating__item--top">харчування</p>
            <p class="rating__item--bottom">8,1</p>
          </li>
          <li class="rating__item">
            <p class="rating__item--top">сервіс</p>
            <p class="rating__item--bottom">7,9</p>
          </li>
          <li class="rating__item">
            <p class="rating__item--top">інфраструктура</p>
            <p class="rating__item--bottom">8,9</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="hero__days">
      <p class="days__title">320</p>
      <p class="days__txt">сонячних днів на рік</p>
    </div>
  </div>
</section>
