<section class="posts">
  <div class="container">
    <div class="post">
      <img
        class="post__img"
        src="./images/beach.webp"
        alt="beach"
        width="500"
        height="280"
      />
      <div class="post__descr">
        <a href="" class="post__title link">Шовковий шлях</a>
        <p class="post__price">$158</p>
      </div>
      <div class="post__descr">
        <p class="post__txt">Екстремальний маршрут</p>
      </div>
    </div>
    <div class="post">
      <img
        class="post__img"
        src="./images/mountain.webp"
        alt="mountain"
        width="500"
        height="280"
      />
      <div class="post__descr">
        <a href="" class="post__title link">Роупджампінг</a>
        <p class="post__price">$57</p>
      </div>
      <div class="post__descr">
        <p class="post__txt">Не дай Боже не любиш</p>
        <p class="post__old-price">$90</p>
      </div>
    </div>
  </div>
</section>
