.hero {
  padding: 10px 0;

  @include desktop {
    padding: 24px 0;
  }

  .container {
    position: relative;
  }
}

.hero__img {
  max-width: 100%;
  margin-bottom: 23px;
}

.img-descr {
  position: absolute;
  top: 5px;
  width: calc(100% - 20px);
  padding: 10px 5px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  border-radius: 20px;
  background-color: rgba(255, 242, 0, 0.7);

  @include desktop {
    top: 270px;
    left: 212px;
    width: 250px;
    min-height: 250px;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
  }
}

.img-descr__title {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.16;
  text-align: center;

  color: var(--dark-txt-color);

  @include desktop {
    font-size: 25px;
    margin-bottom: 16px;
  }
}

.img-descr__txt {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;

  text-transform: uppercase;

  color: var(--dark-txt-color);

  @include desktop {
    margin-bottom: 5px;
  }
}

.img-descr__code {
  font-size: 24px;
  line-height: 28px;

  padding: 1px 4px 2px 5px;

  text-transform: uppercase;

  color: var(--light-txt-color);
  background-color: var(--dark-txt-color);
}

.hotel__descr {
  display: flex;
  align-items: center;

  margin-bottom: 27px;
}

.hotel__title {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;

  color: var(--dark-txt-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin-right: 20px;

  &::after {
    content: '';
    position: absolute;

    left: 0;
    bottom: 2px;
    display: block;
    width: 100%;
    height: 1px;
    background: var(--dark-txt-color);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0.25;
    border-radius: 2px;
  }

  &:hover,
  &:focus {
    color: var(--secondary-accent-color);
  }

  &:hover::after,
  &:focus::after {
    background: var(--secondary-accent-color);
  }

  @include desktop {
    font-size: 35px;
  }
}

.hotel__list {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 20px;
}

.hero__icon {
  width: 20px;

  @include desktop {
    width: 27px;
  }
}

.hotel__price {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;

  color: var(--dark-txt-color);

  @include desktop {
    font-size: 35px;
  }
}

.hotel__rating {
  display: flex;
  align-items: center;
}

.rating__title {
  font-size: 12px;
  line-height: 1.15;
  width: 101px;

  color: var(--dark-txt-color);
  margin-right: 10px;

  @include desktop {
    font-size: 14px;
    margin-right: 32px;
  }
}

.rating__title--bold {
  font-weight: 700;
}

.rating__total {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  padding: 12px 8px 12px 7px;

  color: var(--light-txt-color);
  background-color: var(--accent-color);

  margin-right: 10px;

  @include desktop {
    font-size: 24px;
    margin-right: 24px;
  }
}

.rating__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating__item:not(:last-child) {
  margin-right: 10px;

  @include desktop {
    margin-right: 16px;
  }
}

.rating__item--top {
  font-size: 10px;
  line-height: 1.17;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--dark-txt-color);

  @include desktop {
    font-size: 12px;
    margin-right: 24px;
  }
}

.rating__item--bottom {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--dark-txt-color);
}

.hero__days {
  position: absolute;

  background-color: var(--light-txt-color);
  padding: 5px 0 0 5px;
  border-radius: 5px 0 0 0;

  right: 10px;
  bottom: 135px;

  @include desktop {
    background-color: inherit;
    padding: 0;
    border-radius: 0;
    right: 294px;
    bottom: 24px;
  }
}

.days__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 1.16;

  letter-spacing: -0.05em;
  text-transform: uppercase;

  color: var(--secondary--txt-color);

  @include desktop {
    font-size: 88px;
  }
}

.days__txt {
  width: 80px;
  font-size: 12px;
  line-height: 1.03;

  color: var(--dark-txt-color);

  @include desktop {
    width: 155px;
    font-size: 30px;
  }
}
